@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Red Hat Display", sans-serif;
}

.nav {
  padding: 80px 24px;
  position: relative;
}

.nav__logo {
  width: 118px;
  height: 28px;
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  left: 50%;
}

.header {
  padding-block-start: 64px;
  padding-block-end: clamp(32px, 8vw, 64px);
  overflow: hidden;
}

.container {
  max-width: clamp(300px, 90vw, 1140px);
  padding: 0 24px;
  margin: 0 auto;
}

.header-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  align-items: center;
  justify-content: center;
  gap: clamp(10px, 4vw, 50px);
}

.header__content {
  max-width: clamp(300px, 50vw, 445px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-self: center;
  justify-self: center;
  margin-block: 23px;
  grid-column: 1 / 3;
  grid-row: 2;
}
.header__title {
  font-size: clamp(40px, 7vw, 64px);
  color: #28283d;
  font-weight: 900;
}
.header__paragraph {
  font-size: clamp(12px, 2vw, 18px);
  color: #87879d;
  font-weight: 600;
  margin-block: 32px;
}

.header__image:nth-child(1) {
  grid-column: 1;
  max-width: clamp(170px, 50vw, 445px);
}
.header__image:nth-child(2) {
  grid-column: 2;
  max-width: clamp(170px, 50vw, 445px);
}

.header__buttons {
  display: flex;
  gap: 17px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button {
  padding-inline: clamp(24px, 5vw, 40px);
  padding-block: clamp(12px, 2vw, 16px);
  border-radius: 30px;
  border: none;
  font-size: clamp(14px, 2vw, 16px);
  cursor: pointer;
}

.button-type-download {
  background: #71c0d4;
  color: white;
  transition: background-color 0.3s ease, transform 0.3s ease;
  
}

.button-type-download:hover {
  transform: translateY(-2px) scale(1.05);
  background-color: #5bb0c4;

}

.button-type-download span {
  margin-inline-start: 5px;
  color: #8fe3f9;
}

.button-type-more-information {
  background: #b18bdd;
  color: white;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-type-more-information:hover {
    transform: translateY(-2px) scale(1.05);
    background-color: #a06ed0;
}
.about-section {
  padding-block-start: clamp(32px, 8vw, 64px);
  padding-block-end: clamp(32px, 8vw, 64px);
}
.about-layout {
  display: flex;
  flex-direction: column;
}

.line {
  border: solid 1px #e8e8f3;
  width: 1px;
  height: 80px;
}

.number {
  border: solid 1px #e8e8f3;
  padding: 16px 20px;
  border-radius: 50%;
  color: #87879d;
}

.about__images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin-block: 64px;
}
.about__image {
  width: 100%;
  border-radius: 8px;
}

.about__text-content {
  max-width: 544px;
  text-align: center;
  margin: 0 auto;
}

.about__subtitle {
  font-size: clamp(14px, 2vw, 16px);
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #4d96a9;
  font-weight: 900;
}

.about__title {
  font-size: clamp(30px, 4vw, 40px);
  max-width: 445px;
  margin: 0 auto;

  font-weight: 900;
  margin-block: 16px 32px;
}

.about__paragraph {
  color: #87879d;
  font-size: clamp(14px, 2vw, 18px);
}

.footer {
  position: relative;
}

.footer__layout {
  position: relative;
  background-image: url(../assets/mobile/image-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #4d96a9;
  overflow: hidden;
  z-index: 1;
  padding-block: 112px;
}

.number-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  z-index: 2;
}


.footer-number {
  top: 30px; 
  position: relative;
}

.number {
  background-color: white;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(16px, 5vw, 45px);
}

.footer__title {
  font-size: clamp(30px, 4vw, 40px);
  color: white;
  max-width: 445px;
  text-align: center;
  font-weight: 900;
  
}

.footer__paragraph {
  color: white;
  font-size: clamp(14px, 2vw, 18px);
  max-width: 355px;
  text-align: center;
}

.button-type-download_footer {
  height: max-content;
  border-radius: 30px;
  background: #71c0d4;
  color: white;
  cursor: pointer;
  font-weight: 600;
   transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-type-download_footer:hover {
  background-color: #5bb0c4;
    transform: translateY(-2px) scale(1.05);
}

.button-type-download_footer span {
  margin-left: 5px;
  color: #8fe3f9;
}

@media (min-width: 1200px) {
  .header-layout {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: repeat(1, auto);
    position: relative;
    gap: 32px;
  }
  .header__content {
    grid-column: 2;
    grid-row: 1;
    text-align: left;
  }

  .header__image {
    position: absolute;
    max-width: none;
  }
  .header__image:nth-child(1) {
    
    left: clamp(-200px, -10vw, -120px);
    top: 0;
    gap: 16px;
    grid-column: 1;
    grid-row: 1;
  }
  .header__image:nth-child(2) {
   
    right: clamp(-200px, -10vw, -120px);
    bottom: 0px;
    gap: 16px;
    grid-column: 3;
    grid-row: 1;
  }
  .about__images {
    grid-template-columns: repeat(4, 1fr);
  }
  .footer__layout {
    position: relative;
    background-image: url(../assets/desktop/image-footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #4d96a9;
  }
  .footer__content {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 20px;
    justify-content: space-between;
  }
  .footer__title {
    text-align: left;
  }
}
